<?xml version='1.0' encoding='utf-8'?>
<widget id="com.pathfinder.pathfinder" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pathfinder</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="https://dineshbala.000webhostapp.com/*" />
    <allow-navigation href="https://maps.googleapis.com/*" />
    <allow-navigation href="https://maps.gstatic.com/*" />
    <allow-navigation href="https://csi.gstatic.com/*" />
    <allow-navigation href="https://maps.googleapis.com/maps/api/js" />
    <allow-navigation href="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUKXSCCmEiCddVooFcEM7-tu0UvQ_U218&libraries=places" />
    <allow-navigation href="https://dineshbala.000webhostapp.com/" />
    <allow-navigation href="https://dineshbala.000webhostapp.com/*" />
    <allow-navigation href="data:*" />
    <allow-navigation href="gap:*" />
    <allow-navigation href="filesystem:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <preference name="DisallowOverscroll" value="true" />
</widget>
